:root {
    --primary-color: #4a6fa5;
    --secolon-color: #166088;
    --asscen-color: #4fc3f7;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #333;
    --text-light: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*tahoma*/
    font-family: '';
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.8rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    transition:all 0.3s ease; 
}

    .btn:hover
    .grid-container {
        display: grid;
        grid-template: 1fr;
        grid-template-areas: "header" "hero" "main" "sidebar" "footer";
        min-height: 100vh;
    }

.header {
    grid-area: header;
    background: linear-gradient(130deg,rgba(0,255,0,0.6) 20%, rgba(0,0,0,0.6) 70%, rgba(255,0,0,0.6) 100%);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.main-nav ul {
    display: flex;
    gap: 1.5rem;
}

    .main-nav ul li a {
        color: var(--dark-color);
        font-weight: 500;
        transition: color 0.3s;
    }

        .main-nav ul li a:hover {
            color: var(--primary-color);
        }

.hero {
    grid-area: hero;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://lk.asu.ru/.src/images/elements/header_logo_2023_01.svg) no-repeat center center/cover;
    color: white;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 600px
}

    .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hero-content p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
