:root {
    --primary-color: #4a6fa5;
    --secolon-color: #166088;
    --asscen-color: #4fc3f7;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #333;
    --text-light: #6c757d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}