.success {
  /*             background-color: green; */
  /* Change to green on success */
  /*             transform: scale(1.1); */
  /* Slightly enlarge the button */
  animation: successAnimation 3s;
  /*             animation: successAnimation 3s infinite; */
  /*             animation: successAnimation 1s forwards; */
  /* Apply success animation */
}

@keyframes successAnimation {
    50% {
        background-color: lightgreen;
    }
}
.reject {
  /*             background-color: green; */
  /* Change to green on success */
  /*             transform: scale(1.1); */
  /* Slightly enlarge the button */
  animation: rejectAnimation 3s;
  /*             animation: successAnimation 3s infinite; */
  /*             animation: successAnimation 1s forwards; */
  /* Apply success animation */
}

@keyframes rejectAnimation {
  50% {
    background-color: red;
  }
}

body {
    font-family: Arial, sans-serif;
}

.editor {
    position: relative;
    display: inline-block;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #999;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    white-space: pre-wrap;
    overflow: auto;
    pointer-events: none;
    background: white;
}

textarea {
    position: relative;
    box-sizing: border-box;
    width: 600px;
    height: 250px;
    padding: 10px;
    border: 1px solid #999;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    background: transparent;
    color: transparent;
    caret-color: black;
    resize: both;
    overflow: auto;
}

.sql {
    color: blue;
    font-weight: bold;
}